@charset "utf-8";
body {
    background-image: url("footer_lodyas.png");
}
code {
	font-family: Courier, 'New Courier', monospace;
	color: black;
}
.italic {
	font-style: italic;
}
#bvi {
	color:black;
}
#code{
	background-color: #FFFFFF;
}
#code p{
	margin: 0px;
	color:black;
	font-size: 0.8em;
}
#image {
border: initial;
background-color: initial;
text-align: center;
position:relative;
}
#resize {
    max-width:95%;
    max-height:100%;
    position:absolute;
    top:0;
	left:0;
	right:0;
    bottom:0;
    margin:auto;
}
em{
font-family: Courier, 'New Courier', monospace;
color: black;
}
p {
margin: 5px;
}
#outer{
min-width: 1000px;
text-align:center;
color: white;
}
#tab {
	background-color: white;
    margin: 15px auto; 
	border: 1px solid black;
    border-collapse: collapse;
}
#tab th{
	min-width: 100px;
	color: black;
	border: 1px solid black;
    border-collapse: collapse;
}
#tab td{
	color: black;
	font-family: Courier, 'New Courier', monospace;
	border: 1px solid black;
    border-collapse: collapse;
}
#tab td + td{
	text-align:left;
}

#tabe {
	background-color: white;
    margin: 15px auto; 
	border: 1px solid black;
    border-collapse: collapse;
}
#tabe th{
	min-width: 100px;
	color: black;
	border: 1px solid black;
    border-collapse: collapse;
}
#tabe td{
	color: black;
	font-family: Courier, 'New Courier', monospace;
	border: 1px solid black;
    border-collapse: collapse;
}
#tabe td + td{
	font-size: 1.5em;
}


.inner{
font-family:"Arial Black", Gadget, sans-serif;
display: inline-block;
margin: 12px;
}
.half{
border: 1px solid black;
border-radius: 5px;
background-color: #949494;
text-align:left;
width:400px;
height:300px;
float:left;
margin: 10px;
overflow: auto;
}
.whole {
border: 1px solid black;
border-radius: 5px;
background-color: #949494;
text-align:left;
width:820px;
float:left;
margin: auto 10px;
}
h1 {
	font-family: 'Righteous', cursive;
	-webkit-text-stroke: 1px white;
	color: black;
	margin: auto 10px;
}
h2, h3{
	font-family: 'Righteous', cursive;
	color: white;
	margin: 10px;
}

#nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
#nav li {
	font-family: 'Righteous', cursive;
    float: left;
}
#nav a:link, #nav a:visited {
    -webkit-text-stroke: 1px black;
    display: block;
    width: 150px;
	font-size:1.5em;
    color: #FFFFFF;
    background-color: #32E0E3;
    text-align: center;
    padding: 4px;
    text-decoration: none;
}

#nav a:hover, #nav a:active {
    background-color: #00A5A8;
}

