<%# This file defines a partial that generates navigation bar %>

<div class = "navbar">
  <div class = "il">
	<img src="images/blocko.jpg" alt="Block O" style=" height:100px">
  </div>
  <div class = "head">
	<h2 style="margin-bottom:10px">JIM DAVIS</h2>
	<p class="nav_p">614-292-1553 </p>
        <p class="nav_p"><a href="mailto:jwdavis@cse.ohio-state.edu" target="_top">jwdavis@cse.ohio-state.edu</a></p>
  </div>
  <div class = "head">
	   <p class="nav_p">Professor at <a href = "http://www.osu.edu/" style="color:#bb0000">The Ohio State University</a></p>
	   <p class="nav_p"><a href = "http://cse.osu.edu/">Dept. of Computer Science and Engineering</a></p>
	   <p class="nav_p">491 Dreese Laboratories, 2015 Neil Avenue </p>
  </div>
  <div class = "ir">
	<img src="images/blocko.jpg" alt="Block O" style=" height:100px">
  </div>

</div>
<div class="nav">
      <ul>
        <li><a href="intro.html">Home</a></li>
        <li><a href="NewsAndPress.html">News</a></li>
        <li><a href="publications.html">Publications</a></li>
        <li><a href="photoPage.html">Photos</a></li>
	<li class="news"><a href="people.html">People</a></li>
      </ul>
</div>
