<%# This is the erb file that generates intro.html %>
<%# Note that no html, head, nor body tag is necessary %>
<%# They will be added from layout.erb when we run "bundle exec middleman build" %>

<%# This div section generates the contact info and intro image %>

<div class = "contact">
<table id  = "introTable"> 
<tr>
<td> <%= partial "/partials/image" %> </td>
<td> <%= partial "/partials/contact" %> </td>
</tr>
</table>
</div>
<br />

<%# This div section generates the interests info %>

<div class = "interests">
<%= partial "/partials/interests" %>
</div>
<br />

<%# This div section generates the appointment info %>

<div class = "appt"> 
<%= partial "/partials/appt" %>
</div>
<br />

<p id = "awayNote">*** PLEASE NOTE THAT PROF. DAVIS WILL BE AWAY ON SABBATICAL FOR THE 2015-2016 ACADEMIC YEAR *** </p>
